# 02 â€“ Summaries

In [1]:
import pandas as pd
data = pd.read_csv('data/runs.csv')

In [2]:
data.head()

,Date Submitted,Workout Date,Activity Type,Calories Burned (kCal),Distance (mi),Workout Time (seconds),Avg Pace (min/mi),Max Pace (min/mi),Avg Speed (mi/h),Max Speed (mi/h),Avg Heart Rate,Steps,Notes,Source,Link
0,"Jan. 25, 2020","Jan. 25, 2020",Run,509,4.45226,2117,7.92006,1.59279,7.57570,37.66970,149.0,5553.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3998570485
1,"Jan. 23, 2020","Jan. 23, 2020",Indoor Run / Jog,523,4.00000,1717,7.15417,6.40770,8.38672,9.36374,161.0,4658.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3995188852
2,"Jan. 21, 2020","Jan. 21, 2020",Indoor Run / Jog,400,3.00000,1345,7.47222,6.83695,8.02974,8.77584,167.0,3582.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3991922437
3,"Jan. 20, 2020","Jan. 20, 2020",Indoor Run / Jog,532,4.00000,1788,7.45000,6.80370,8.05369,8.81873,151.0,4731.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3990189352
4,"Jan. 17, 2020","Jan. 17, 2020",Indoor Run / Jog,529,4.00000,1765,7.35417,6.72304,8.15864,8.92454,150.0,4777.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3985745017

The "Workout Date" column is in a bad format.
We need to make a better one.

In [3]:
data['date'] = pd.to_datetime(data['Workout Date'])
data.head()

,Date Submitted,Workout Date,Activity Type,Calories Burned (kCal),Distance (mi),Workout Time (seconds),Avg Pace (min/mi),Max Pace (min/mi),Avg Speed (mi/h),Max Speed (mi/h),Avg Heart Rate,Steps,Notes,Source,Link,date
0,"Jan. 25, 2020","Jan. 25, 2020",Run,509,4.45226,2117,7.92006,1.59279,7.57570,37.66970,149.0,5553.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3998570485,2020-01-25
1,"Jan. 23, 2020","Jan. 23, 2020",Indoor Run / Jog,523,4.00000,1717,7.15417,6.40770,8.38672,9.36374,161.0,4658.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3995188852,2020-01-23
2,"Jan. 21, 2020","Jan. 21, 2020",Indoor Run / Jog,400,3.00000,1345,7.47222,6.83695,8.02974,8.77584,167.0,3582.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3991922437,2020-01-21
3,"Jan. 20, 2020","Jan. 20, 2020",Indoor Run / Jog,532,4.00000,1788,7.45000,6.80370,8.05369,8.81873,151.0,4731.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3990189352,2020-01-20
4,"Jan. 17, 2020","Jan. 17, 2020",Indoor Run / Jog,529,4.00000,1765,7.35417,6.72304,8.15864,8.92454,150.0,4777.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3985745017,2020-01-17

Much better.

In [4]:
data['year'], data['month'], data['day_of_month'] = data.date.dt.year, data.date.dt.month, data.date.dt.day

In [5]:
data.head()

,Date Submitted,Workout Date,Activity Type,Calories Burned (kCal),Distance (mi),Workout Time (seconds),Avg Pace (min/mi),Max Pace (min/mi),Avg Speed (mi/h),Max Speed (mi/h),Avg Heart Rate,Steps,Notes,Source,Link,date,year,month,day_of_month
0,"Jan. 25, 2020","Jan. 25, 2020",Run,509,4.45226,2117,7.92006,1.59279,7.57570,37.66970,149.0,5553.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3998570485,2020-01-25,2020,1,25
1,"Jan. 23, 2020","Jan. 23, 2020",Indoor Run / Jog,523,4.00000,1717,7.15417,6.40770,8.38672,9.36374,161.0,4658.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3995188852,2020-01-23,2020,1,23
2,"Jan. 21, 2020","Jan. 21, 2020",Indoor Run / Jog,400,3.00000,1345,7.47222,6.83695,8.02974,8.77584,167.0,3582.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3991922437,2020-01-21,2020,1,21
3,"Jan. 20, 2020","Jan. 20, 2020",Indoor Run / Jog,532,4.00000,1788,7.45000,6.80370,8.05369,8.81873,151.0,4731.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3990189352,2020-01-20,2020,1,20
4,"Jan. 17, 2020","Jan. 17, 2020",Indoor Run / Jog,529,4.00000,1765,7.35417,6.72304,8.15864,8.92454,150.0,4777.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3985745017,2020-01-17,2020,1,17

Get some high-level metrics in pivot tables.

In [6]:
# Which columns can we aggregate via a sum? Do these in one step.
sum_cols = ['Steps', 'Distance (mi)', 'Calories Burned (kCal)']
# Use the .assign to create a raw count of runs column
data[sum_cols + ['year']].assign(Runs=1).pivot_table(index='year', aggfunc='sum', margins=True)

      Calories Burned (kCal)  Distance (mi)  Runs      Steps
year
2016                    8707       59.65229    14   100286.0
2017                   31151      202.74682    65   373450.0
2018                   29846      229.73604    70   349072.0
2019                   43413      362.87609   100   470393.0
2020                    5767       47.42366    13    57151.0
All                   118884      902.43490   262  1350352.0

I'm closing in on 1000 lifetime miles!

Actually I have almost certainly passed that, given all the runs I've done but not recorded.
But still.

In [7]:
data.head()

,Date Submitted,Workout Date,Activity Type,Calories Burned (kCal),Distance (mi),Workout Time (seconds),Avg Pace (min/mi),Max Pace (min/mi),Avg Speed (mi/h),Max Speed (mi/h),Avg Heart Rate,Steps,Notes,Source,Link,date,year,month,day_of_month
0,"Jan. 25, 2020","Jan. 25, 2020",Run,509,4.45226,2117,7.92006,1.59279,7.57570,37.66970,149.0,5553.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3998570485,2020-01-25,2020,1,25
1,"Jan. 23, 2020","Jan. 23, 2020",Indoor Run / Jog,523,4.00000,1717,7.15417,6.40770,8.38672,9.36374,161.0,4658.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3995188852,2020-01-23,2020,1,23
2,"Jan. 21, 2020","Jan. 21, 2020",Indoor Run / Jog,400,3.00000,1345,7.47222,6.83695,8.02974,8.77584,167.0,3582.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3991922437,2020-01-21,2020,1,21
3,"Jan. 20, 2020","Jan. 20, 2020",Indoor Run / Jog,532,4.00000,1788,7.45000,6.80370,8.05369,8.81873,151.0,4731.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3990189352,2020-01-20,2020,1,20
4,"Jan. 17, 2020","Jan. 17, 2020",Indoor Run / Jog,529,4.00000,1765,7.35417,6.72304,8.15864,8.92454,150.0,4777.0,NaN,Map My Fitness MapMyRun iPhone,http://www.mapmyfitness.com/workout/3985745017,2020-01-17,2020,1,17

In [8]:
# Which columns can we aggregate via an average? Do these in one step.
avg_cols = ['Distance (mi)', 'Avg Pace (min/mi)', 'Avg Heart Rate', 'Workout Time (seconds)']
data[avg_cols + ['year']].pivot_table(index='year', aggfunc='mean', margins=True)

      Avg Heart Rate  Avg Pace (min/mi)  Distance (mi)  Workout Time (seconds)
year
2016        0.000000           8.543726       4.260878             2248.571429
2017        0.000000           7.050336       3.119182             1352.461538
2018      139.666667           7.868912       3.281943             1584.257143
2019      152.597938           8.107301       3.628761             1764.700000
2020      153.230769           7.492446       3.647974             1652.000000
All       133.179641           8.146450       3.792654             1848.772455

I want a way to visualize my running by date but will need to think more.